In [1]:
import numpy as np
import pandas as pd
%matplotlib notebook

In [15]:
n = str(1) #chiller number
datatypes = ["Power","ConFlow","EvaFlow","Temp"]
df={}
for datatype in datatypes:
    df[datatype] = pd.read_csv("data/Chiller"+n+"_"+datatype+"_full.csv")
    df[datatype]['ts']=pd.to_datetime(df[datatype]['ts'])
    df[datatype]['ts']=df[datatype]['ts'].dt.floor('min')
    print(datatype)
    print(df[datatype].columns)

Power
Index([u'ts', u'gatewayId', u'linkQuality', u'ch1Watt', u'ch2Watt', u'ch3Watt',
       u'totalPositiveWattHour', u'totalNegativeWattHour', u'ch1Current',
       u'ch2Current', u'ch3Current', u'ch1Voltage', u'ch2Voltage',
       u'ch3Voltage', u'ch1PowerFactor', u'ch2PowerFactor', u'ch3PowerFactor',
       u'voltage12', u'voltage23', u'voltage31', u'ch1Hz', u'ch2Hz', u'ch3Hz',
       u'i1THD', u'i2THD', u'i3THD', u'v1THD', u'v2THD', u'v3THD'],
      dtype='object')
ConFlow
Index([u'ts', u'gatewayId', u'linkQuality', u'flowRate', u'flowSpeed',
       u'totalFlowRate', u'positiveTotalFlow', u'positiveTotalFlowDecimal'],
      dtype='object')
EvaFlow
Index([u'ts', u'gatewayId', u'linkQuality', u'flowRate', u'flowSpeed',
       u'totalFlowRate', u'positiveTotalFlow', u'positiveTotalFlowDecimal'],
      dtype='object')
Temp
Index([u'ts', u'gatewayId', u'linkQuality', u'ain1', u'ain2', u'ain3', u'ain4',
       u'ain5', u'voltage1', u'voltage2', u'voltage3', u'voltage4',
       u'voltage5', u'value1', u'value2', u'value3', u'value4'],
      dtype='object')

In [28]:
collist={}
collist['Power'] = ['ch'+str(i+1)+'Watt' for i in range(3)]
collist['Temp'] = ['value'+str(i+1) for i in range(4)]
collist['ConFlow'] = ['flowRate', 'flowSpeed']
collist['EvaFlow'] = ['flowRate', 'flowSpeed']

truncate_df = {}
for key in df.keys():
    truncate_df[key] = (df[key][['ts']+collist[key]])
truncate_df['ConFlow'].columns = ['ts', 'conflowRate', 'conflowSpeed']
truncate_df['EvaFlow'].columns = ['ts', 'evaflowRate', 'evaflowSpeed']
PowerTemp = pd.DataFrame.merge(truncate_df['Power'], truncate_df['Temp'])
Flows = pd.DataFrame.merge(truncate_df['ConFlow'], truncate_df['EvaFlow'])
fullDF = pd.DataFrame.merge(PowerTemp,Flows)
fullDF

,ts,ch1Watt,ch2Watt,ch3Watt,value1,value2,value3,value4,conflowRate,conflowSpeed,evaflowRate,evaflowSpeed
0,2017-05-01 00:00:00,349,0,353,18.068238,20.535583,23.376769,23.387453,0.000000,0.000000,0.000000,0.000000
1,2017-05-01 00:01:00,383,0,396,16.166991,16.914672,22.565002,22.639772,35.284023,0.303604,0.000000,0.000000
2,2017-05-01 00:02:00,379,0,394,15.964052,16.722413,22.372743,22.351379,144.330154,1.241898,0.000000,0.000000
3,2017-05-01 00:03:00,389,0,408,17.053528,17.822570,22.265932,22.372743,195.770782,1.684522,10.812524,0.161080
4,2017-05-01 00:04:00,5748,4480,4942,18.559570,19.531554,22.415465,22.490235,214.631348,1.846809,77.101921,1.148630
5,2017-05-01 00:07:00,34147,30316,31827,18.869324,21.731874,24.797364,22.362060,225.320724,1.938786,222.726486,3.318081
6,2017-05-01 00:08:00,43623,40178,41466,17.042847,20.663759,25.673217,22.169801,225.871201,1.943523,227.126999,3.383638
7,2017-05-01 00:09:00,57287,53878,54900,16.060180,20.033570,26.143188,22.265932,226.439087,1.948409,228.414627,3.402820
8,2017-05-01 00:10:00,57993,54349,55423,15.195007,19.232484,26.292725,22.265932,226.457489,1.948568,228.204697,3.399693
9,2017-05-01 00:11:00,59113,55279,56460,14.041444,18.431397,26.591799,22.426149,226.499542,1.948929,228.070724,3.397696
10,2017-05-01 00:12:00,60049,56603,57877,13.838502,18.516845,26.890869,22.543641,226.663635,1.950341,228.325317,3.401489
11,2017-05-01 00:14:00,63503,59886,61457,14.073486,18.912049,28.108521,23.590392,228.977615,1.970252,228.420212,3.402903
12,2017-05-01 00:14:00,63503,59886,61457,14.073486,18.912049,28.108521,23.590392,228.977615,1.970252,228.270279,3.400669
13,2017-05-01 00:15:00,66012,62538,63705,14.212342,19.168398,28.311464,23.686523,228.608566,1.967077,228.337891,3.401677
14,2017-05-01 00:16:00,66877,63394,64394,14.757080,19.606324,28.845521,24.156495,227.778061,1.959930,228.704285,3.407135
15,2017-05-01 00:17:00,67088,63671,65116,14.874572,19.713136,28.920288,24.220581,227.044342,1.953617,228.868256,3.409578
16,2017-05-01 00:18:00,66757,63991,64772,14.821166,19.467468,29.379579,24.647827,227.474594,1.957319,228.658752,3.406457
17,2017-05-01 00:19:00,65888,62304,63689,14.287109,18.890685,29.657288,24.946901,228.127991,1.962941,228.530197,3.404542
18,2017-05-01 00:20:00,67112,63530,64741,13.849182,18.431397,29.742739,25.149843,229.382843,1.973739,228.206741,3.399723
19,2017-05-01 00:22:00,64688,60841,62012,12.770386,17.299196,30.234071,25.897524,231.392929,1.991035,227.605865,3.390772
20,2017-05-01 00:24:00,66461,63251,64399,12.172242,16.797180,30.629273,26.324770,229.996414,1.979019,227.191147,3.384593
21,2017-05-01 00:25:00,64760,61440,63184,12.076111,16.690368,30.885621,26.559754,228.984680,1.970313,227.076019,3.382878
22,2017-05-01 00:26:00,67061,63673,64541,12.172242,16.551515,31.067199,26.709291,228.571655,1.966759,227.068085,3.382760
23,2017-05-01 00:27:00,67443,63837,64243,12.076111,16.583557,31.312867,27.061767,228.894302,1.969535,227.049927,3.382489
24,2017-05-01 00:28:00,65239,62519,62819,12.129517,16.594237,31.366273,27.125856,228.766571,1.968436,227.354721,3.387030
25,2017-05-01 00:29:00,67223,63738,65107,11.990661,16.530151,31.537171,27.328796,229.006958,1.970505,227.212387,3.384910
26,2017-05-01 00:30:00,67386,63836,64933,11.830444,16.305847,31.622621,27.403566,229.536484,1.975061,227.070007,3.382788
27,2017-05-01 00:31:00,65638,62639,62750,11.659546,16.060180,31.782838,27.467652,230.011215,1.979146,227.044830,3.382413
28,2017-05-01 00:32:00,67527,63763,64793,11.424562,15.899962,31.836244,27.638550,230.767807,1.985656,226.481232,3.374017
29,2017-05-01 00:33:00,67448,63413,64301,11.114808,15.632933,31.975097,27.766726,231.623779,1.993021,226.707336,3.377386
...,...,...,...,...,...,...,...,...,...,...,...,...
422040,2017-11-30 22:35:00,344,0,352,10.527344,10.623475,23.099060,23.248597,0.000000,0.000000,0.000000,0.000000
422041,2017-11-30 22:39:00,348,0,355,10.484619,10.538025,23.024293,23.227236,0.000000,0.000000,0.000000,0.000000
422042,2017-11-30 22:39:00,348,0,355,10.484619,10.538025,23.024293,23.227236,0.000000,0.000000,0.000000,0.000000
422043,2017-11-30 22:55:00,347,0,357,10.548705,10.837098,23.013613,23.120424,0.000000,0.000000,0.000000,0.000000
422044,2017-11-30 22:55:00,347,0,357,10.548705,10.837098,23.013613,23.120424,0.000000,0.000000,0.000000,0.000000
422045,2017-11-30 23:02:00,349,0,358,10.441894,11.114808,23.002929,23.163146,0.000000,0.000000,0.000000,0.000000
422046,2017-11-30 23:04:00,343,0,362,10.409852,11.146849,23.013613,23.152466,0.000000,0.000000,0.000000,0.000000
422047,2017-11-30 23:08:00,347,0,361,10.420533,11.040038,23.045654,23.088379,0.000000,0.000000,0.000000,0.000000
422048,2017-11-30 23:08:00,347,0,361,10.420533,11.040038,23.045654,23.088379,0.000000,0.000000,0.000000,0.000000
422049,2017-11-30 23:11:00,350,0,360,10.495299,10.869140,23.013613,23.152466,0.000000,0.000000,0.000000,0.000000
422050,2017-11-30 23:17:00,352,0,361,10.527344,10.975951,22.938843,23.099060,0.000000,0.000000,0.000000,0.000000
422051,2017-11-30 23:17:00,352,0,361,10.527344,10.975951,22.938843,23.099060,0.000000,0.000000,0.000000,0.000000
422052,2017-11-30 23:20:00,349,0,359,10.516664,10.826415,22.928162,23.120424,0.000000,0.000000,0.000000,0.000000
422053,2017-11-30 23:20:00,349,0,359,10.516664,10.826415,22.928162,23.120424,0.000000,0.000000,0.000000,0.000000
422054,2017-11-30 23:30:00,346,0,355,10.409852,11.253661,22.864076,23.045654,0.000000,0.000000,0.000000,0.000000
422055,2017-11-30 23:31:00,343,0,358,10.538025,10.890504,22.917482,22.981568,0.000000,0.000000,0.000000,0.000000
422056,2017-11-30 23:32:00,341,0,352,10.505980,10.911865,22.938843,23.024293,0.000000,0.000000,0.000000,0.000000
422057,2017-11-30 23:32:00,341,0,352,10.505980,10.911865,22.938843,23.024293,0.000000,0.000000,0.000000,0.000000
422058,2017-11-30 23:32:00,341,0,352,10.505980,10.911865,22.938843,23.024293,0.000000,0.000000,0.000000,0.000000
422059,2017-11-30 23:32:00,341,0,352,10.505980,10.911865,22.938843,23.024293,0.000000,0.000000,0.000000,0.000000
422060,2017-11-30 23:32:00,345,0,352,10.505980,10.911865,22.938843,23.024293,0.000000,0.000000,0.000000,0.000000
422061,2017-11-30 23:32:00,345,0,352,10.505980,10.911865,22.938843,23.024293,0.000000,0.000000,0.000000,0.000000
422062,2017-11-30 23:32:00,345,0,352,10.505980,10.911865,22.938843,23.024293,0.000000,0.000000,0.000000,0.000000
422063,2017-11-30 23:32:00,345,0,352,10.505980,10.911865,22.938843,23.024293,0.000000,0.000000,0.000000,0.000000
422064,2017-11-30 23:34:00,346,0,354,10.420533,11.114808,22.917482,23.067018,0.000000,0.000000,0.000000,0.000000
422065,2017-11-30 23:34:00,346,0,354,10.420533,11.114808,22.917482,23.067018,0.000000,0.000000,0.000000,0.000000
422066,2017-11-30 23:49:00,347,0,353,10.495299,11.339111,22.799990,23.045654,0.000000,0.000000,0.000000,0.000000
422067,2017-11-30 23:49:00,347,0,353,10.495299,11.339111,22.799990,23.045654,0.000000,0.000000,0.000000,0.000000
422068,2017-11-30 23:51:00,346,0,345,10.399168,11.328431,22.842712,23.034974,0.000000,0.000000,0.000000,0.000000
422069,2017-11-30 23:58:00,343,0,352,10.516664,11.317750,22.810670,22.960207,0.000000,0.000000,0.000000,0.000000

In [29]:
fullDF.to_csv("data/Chiller"+n+"_full.csv")